/* calculo.css */

/* Fondo del GridPane */
.grid-pane {
    -fx-background-color: #e0e0e0;
    -fx-padding: 20;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

/* Pantalla */
.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-font-size: 28px;
    -fx-alignment: center-right;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #cccccc;
    -fx-border-width: 2;
    -fx-padding: 0 10 0 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 5, 0.5, 0, 2);
}

/* Botones comunes */
.button {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-background-color: #7f8c8d; /* gris por defecto */
    -fx-border-color: rgba(0,0,0,0.1);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0.5, 0, 1);
}


/* Hover */
.button:hover {
    -fx-opacity: 0.85;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Presionado */
.button:pressed {
    -fx-opacity: 0.7;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
